.pricing {
  padding: 1rem 0;
}

.pricing-subtitle {
  text-align: center;
  font-size: var(--f-size-medium);
  font-weight: 500;
  margin: 6rem 0 0 0;
}

.pricing-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.p-card-item {
  width: 415px;
  height: auto;
  padding: 10px;
  padding: 1rem 0.6rem 2rem 0.6rem;
}

.p-card-item img {
  width: 100%;
  height: 311px;
}

.p-card-item h3 {
  color: var(--primary-color);
  font-size: var(--f-size-small);
}

.p-card-item p {
  color: var(--text-color);
  font-size: var(--f-size-xxsmall);
  margin: 1rem 0 3rem 0;
}

.p-card-item .price-btn {
  padding: 0.6rem 2rem;
  font-size: var(--f-size-xsmall);
  color: var(--primary-color);
  box-shadow: 0 0 3px var(--dark-color);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}

.p-card-item .price-btn:hover {
  background-color: var(--primary-color);
}

.p-card-item .price-btn:active {
  transform: scale(0.85);
}

.p-card-item .price-btn:hover {
  color: var(--white-color);
}

.p-card-item .price-btn span {
  color: #546269;
  margin: 0 5px;
  font-size: var(--f-size-xxsmall);
}

.p-card-item a span:hover {
  color: var(--white-color);
}

@media (max-width: 1100px) {

  .p-card-item h3 {
    font-size: var(--f-size-xsmall);
  }
}
@media (max-width: 992px) {

  .pricing-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .p-card-item h3 {
    font-size: var(--f-size-small);
  }

  .p-card-item img {
    height: 100%;
  }

}
@media (max-width: 450px) {
  .pricing-subtitle {
    font-size: var(--f-size-xmedium);
    margin: 2rem;
  }

  .p-card-item {
    width: 100%;
    height: 100%;
  }

  .p-card-item h3 {
    font-size: var(--f-size-xsmall);
  }

  .p-card-item .price-btn {
    display: inline-block;
    width: 90%;
  }
}
