.hero {
  padding: 1rem 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content .text-content {
  max-width: 550px;
  position: relative;
}

.hero-content .text-content h1 {
  color: var(--dark-color);
  font-weight: 600;
  font-size: var(--f-size-large);
}

.hero-content .text-content img {
  position: absolute;
  right: 0px;
  bottom: 200px;
}

.hero-content .text-content p {
  font-size: var(--f-size-xsmall);
  color: var(--text-color);
  margin: 1rem 0 2rem 0;
}

.hero-content .text-content .hero-btn {
  display: inline-block;
  padding: 1.4rem 4rem;
  font-size: var(--f-size-xsmall);
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.3s;
}

.hero-content .text-content .hero-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px var(--primary-color);
}

.hero-content .text-content .hero-btn:active {
  transform: scale(0.9);
}

/* RESPONSIVE */
@media (max-width: 1200px) {

  .hero-content .hero-img {
    width: 50%;
  }

  .hero-content .text-content img {
    width: 90px;
    right: 120px;
    bottom: 210px;
  }

  .hero-content .text-content h1 {
    font-size: var(--f-size-medium);
    max-width: 400px;
  }
}
@media (max-width: 992px) {

  .hero-content .hero-img {
    width: 50%;
  }

  .hero-content .text-content img {
    width: 70px;
    right: 100px;
    bottom: 180px;
  }

  .hero-content .text-content h1 {
    font-size: var(--f-size-xmedium);
    max-width: 400px;
  }

  .hero-content .text-content p {
    font-size: var(--f-size-xxsmall);
    max-width: 350px;
  }
}

@media (max-width: 767px) {

  .hero-content {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-content .hero-img {
    width: 80%;
  }

  .hero-content .text-content img {
    display: none;
  }

  .hero-content .text-content h1 {
    max-width: none;
    margin: auto;
  }

  .hero-content .text-content p {
    max-width: 100%;
    margin: 1rem auto 3rem auto;
  }

  .hero-content .text-content .hero-btn {
    padding: 1.2rem 4.5rem;
  }
}

@media (max-width: 567px) {

  .hero-content .hero-img {
    width: 100%;
  }

  .hero-content .text-content .hero-btn {
    padding: 1.2rem 5rem;
  }

  .hero-content .text-content p {
    max-width: 100%;
  }
}

@media (max-width: 450px) {

  .hero-content .text-content .hero-btn {
    padding: 1rem;
    display: inline-block;
    width: 90%;
    font-size: var(--f-size-xxsmall);
  }
  
  .hero-content .text-content h1 {
    font-size: var(--f-size-small);
  }
}
