.about {
  padding: 2rem 0;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.about-content .text-content h2 {
  font-size: var(--f-size-medium);
  color: var(--dark-color);
  font-weight: 500;
}

.about-content .text-content p {
  color: var(--text-color);
  font-size: var(--f-size-xsmall);
  max-width: 640px;
  margin: 1rem 0 2rem 0;
}

.content-details {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.content-details h3 {
  color: var(--primary-color);
  font-size: var(--f-size-medium);
  font-weight: 500;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.content-details h3 span {
  font-size: var(--f-size-xxsmall);
  color: var(--text-color);
}

/* Responsive */
@media (max-width: 1024px) {

  .about-content .text-content h2 {
    font-size: var(--f-size-xmedium);
  }

  .content-details {
    gap: 3rem;
  }

  .content-details h3 {
    font-size: var(--f-size-xxmedium);
  }

  .about-content img {
    width: 40%;
    height: auto;
    object-fit: contain;
  }
}
@media (max-width: 992px) {

  .about-content .text-content p {
    max-width: 100%;
    font-size: var(--f-size-xxsmall);
  }

  .content-details {
    gap: 2rem;
  }

  .content-details h3 {
    font-size: var(--f-size-small);
  }

  .about-content img {
    width: 45%;
  }
}
@media (max-width: 767px) {

  .about-content {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
  }

  .about-content .text-content h2 {
    font-size: var(--f-size-medium);
  }
  
  .about-content img {
    width: 80%;
  }

  .content-details {
    display: flex;
    justify-content: center;
    gap: 6rem;
  }

  .content-details h3 {
    font-size: var(--f-size-xmedium);
  }
}
@media (max-width: 567px) {

  .about-content .text-content h2 {
    font-size: var(--f-size-xmedium);
  }

  .about-content img {
    width: 100%;
  }

  .content-details {
    gap: 3rem;
  }

  .content-details h3 {
    font-size: var(--f-size-xxmedium);
  }
}
@media (max-width: 450px) {

  .about-content .text-content h2 {
    font-size: var(--f-size-xxmedium);
  }

  .about-content .text-content p {
    font-size: var(--f-size-xxsmall);
  }

  .content-details {
    flex-direction: column;
    gap: 2rem;
  }
  
  .content-details h3 {
    font-size: var(--f-size-small);
  }
}
