.contact {
  padding: 2rem 0;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 6.25rem;
}

.contact-content .contact-form h2 {
  font-size: var(--f-size-medium);
  font-weight: 500;
}

.contact-content .contact-form p {
  color: var(--text-color);
  font-size: var(--f-size-xsmall);
  max-width: 600px;
  margin: 1rem 0 3rem 0;
}

.contact-form form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact-form form input {
  width: 320px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #8f95a5;
  font-size: var(--f-size-xsmall);
  outline: none;
  padding: 1rem;
}

.contact-form form button {
  padding: 1rem 4rem;
  border-radius: 10px;
  font-size: var(--f-size-xsmall);
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s;
}

.contact-form form button:hover {
  box-shadow: 0 0 10px var(--primary-color);  
}

.contact-form form button:active{
  transform: scale(0.9);
}

@media (max-width: 1100px) {

  .contact-content img {
    width: 40%;
  }

  .contact-content .contact-form p {
    max-width: 500px;
  }

  .contact-form form input {
    width: 50%;
  }

  .contact-form form button {
    padding: 1rem 3rem;
  }
}
@media (max-width: 992px) {

  .contact-content .contact-form p {
    max-width: 400px;
    font-size: var(--f-size-xxsmall);
  }
}
@media (max-width: 767px) {

  .contact-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
  }

  .contact-content img {
    width: 90%;
  }

  .contact-content .contact-form form {
    width: 100%;
  }

  .contact-content .contact-form p {
    max-width: 90%;
    margin: 1rem auto 3rem auto;
  }

  .contact-content .contact-form input {
    width: 100%;
  }

  .contact-content .contact-form  button{
    width: 40%;
  }
}
@media (max-width: 450px) {

  .contact-content img {
    width: 100%;
  }

  .contact-content .contact-form h2 {
    font-size: var(--f-size-xxmedium);
  }

  .contact-content .contact-form p {
    max-width: 100%;
    font-size: var(--f-size-xxsmall);
  }

  .contact-content .contact-form input {
    height: 50px;
    font-size: var(--f-size-xxsmall);
  }

  .contact-content .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-content .contact-form  button{
    padding: 1rem 2rem;
    width: 100%;
    font-size: var(--f-size-xxsmall);
  }
}
