footer {
    padding: 2rem 0;
}

footer hr {
    border: 1px solid #C4C4C4;
    margin-top: 4rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.footer-content .logo {
  color: var(--primary-color);
  font-size: var(--f-size-xmedium);
}

.footer-content .logo span {
  color: var(--text-color);
}

.footer-content .footer-text h3 {
    color: var(--text-color);
    font-size: var(--f-size-xxsmall);
    font-weight: 500;
}
/* Respnsive */
@media (max-width: 567px) {
    footer hr {
        margin-top: 1rem;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
}